workflows/01-Receptor de Voz.json
{
  "name": "01-Receptor de Voz",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recibir-audio",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "a60a78cb-84ab-4dfd-9108-141ce91961b2",
      "name": "Webhook",
      "webhookId": "507e1847-7db3-468f-a7f8-b2108017a2b9"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite"
        },
        "text": "Eres el asistente de recepción de pedidos de un restaurante. Tu tarea es escuchar el audio proporcionado por el mesero y extraer la información exacta del pedido.\n\nDebes analizar la solicitud y estructurar la información siguiendo ESTRICTAMENTE el siguiente esquema JSON. No agregues texto adicional, saludos, ni bloques de código markdown (```json), devuelve ÚNICAMENTE el objeto JSON en texto plano.\n\nReglas de extracción:\n\n\"cliente\": Nombre del cliente si se menciona. Si no, usa \"Mesa/Cliente Desconocido\".\n\n\"pedidos\": Es una lista (array) ya que un cliente puede pedir varios platos.\n\n\"hora_entrega\": Si el mesero no menciona una hora específica, pon \"inmediata\".\n\n\"pago_por_adelantado\": Si no se menciona que ya pagó, pon false (booleano).\n\n\"tipo_pedido\": Clasifícalo estrictamente como \"menu\", \"segundo\" o \"extra\".\n\nEsquema JSON esperado:\n{\n\"cliente\": \"Nombre\",\n\"pedidos\": [\n{\n\"plato\": \"Nombre del plato\",\n\"cantidad\": 1,\n\"tipo_pedido\": \"menu\",\n\"detalles\": \"sin cebolla, con harto aji\"\n}\n],\n\"hora_entrega\": \"inmediata\",\n\"pago_por_adelantado\": false\n}",
        "inputType": "binary",
        "binaryPropertyName": "audio",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        272,
        0
      ],
      "id": "851dc4a7-4dc4-46a9-b674-7adeb393f5eb",
      "name": "Analyze audio",
      "notesInFlow": false,
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "googlePalmApi": {
          "id": "2HSvSGLyck4gIAX7",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "pedidos",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        720,
        0
      ],
      "id": "dd4d9635-8682-45f9-848d-15f53e4de881",
      "name": "Split Out",
      "notesInFlow": false
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1K9UboAeFwOSsWpWb6syh-BRMz2x5VGbTwPj8m_xOy54/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Pedido_voz",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "cliente",
              "displayName": "cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "plato",
              "displayName": "plato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cantidad",
              "displayName": "cantidad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tipo_pedido",
              "displayName": "tipo_pedido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "detalles",
              "displayName": "detalles",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hora_entrega",
              "displayName": "hora_entrega",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pago_por_adelantado",
              "displayName": "pago_por_adelantado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1104,
        0
      ],
      "id": "b898df22-b06f-413e-a966-86fe4cf4db0b",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CVt5NlaUYmtUmFhM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"estado\": \"exito\",\n  \"mensaje\": \"Pedido registrado correctamente en la base de datos\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1328,
        0
      ],
      "id": "bcfcc519-69e0-4c16-a35d-b2a4271265de",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "=\n {{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        0
      ],
      "id": "e2411a39-dc7d-43aa-9e56-ed6716fa9067",
      "name": "json_nuevoPedidos"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af8c0150-edcc-4b7e-adda-e35f4a8b454e",
              "name": "cliente",
              "value": "={{ $json.cliente }}",
              "type": "string"
            },
            {
              "id": "ba0d115e-d943-43fa-997f-1f41d5f1f5d9",
              "name": "plato",
              "value": "={{ $json.pedidos.plato }}",
              "type": "string"
            },
            {
              "id": "a94383f2-bfbc-420c-bb47-e9222bd8ddeb",
              "name": "cantidad",
              "value": "={{ $json.pedidos.cantidad }}",
              "type": "number"
            },
            {
              "id": "f92b1fa8-beb9-4f03-9913-4b1843a1d820",
              "name": "tipo_pedido",
              "value": "={{ $json.pedidos.tipo_pedido }}",
              "type": "string"
            },
            {
              "id": "ea3f240c-0ae2-4230-99f0-8940f4c2f576",
              "name": "detalles",
              "value": "={{ $json.pedidos.detalles }}",
              "type": "string"
            },
            {
              "id": "cf26da3d-297c-4831-a9c2-d37d0c98885c",
              "name": "hora_entrega",
              "value": "={{ $json.hora_entrega }}",
              "type": "string"
            },
            {
              "id": "8ae07161-53d3-4252-99db-9c24837bfd98",
              "name": "pago_por_adelantado",
              "value": "={{ $json.pago_por_adelantado }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        0
      ],
      "id": "81e4f125-b28a-4b51-903b-9325b406f2aa",
      "name": "plano_nuevoPedidos"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Analyze audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze audio": {
      "main": [
        [
          {
            "node": "json_nuevoPedidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "plano_nuevoPedidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "json_nuevoPedidos": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "plano_nuevoPedidos": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0d0b77db-1313-419c-9c98-abde5c56cff4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "34b5bb8aa43b04a2f7b2c2a08ee4bccaaedb04a27c66d5a324ba2a2d89e5f36d"
  },
  "id": "RYppBOSF6Fh1BWzG",
  "tags": []
}