workflows/01-Receptor de Voz.json
{
  "name": "Receptor de pedidos por Voz",
  "nodes": [
    {
      "parameters": {
        "resource": "audio",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite"
        },
        "text": "=Eres el asistente inteligente de un restaurante. Tu tarea es escuchar el audio del mesero. Tienes acceso a pedidos, clientes y la carta del día.\n\nFECHA Y HORA ACTUAL DEL RESTAURANTE (GMT-5):\n{{ $now.setZone('America/Lima').toFormat('dd/MM/yyyy HH:mm:ss') }}\nCARTA REGISTRADA:\n{{ $json.carta_del_dia }}\nLIMITE DE PEDIDOS ACTUALES REGISTRADOS:\n{{ $json.historial_pedidos }}\nCLIENTES REGISTRADOS Y SUS PREFERENCIAS:\n{{ $json.lista_clientes }}\nESTADO DE CONVERSACIÓN (MEMORIA):\n{{ $json.memoria_activa }}\n\nREGLAS DE NEGOCIO ESTRICTAS:\n\nINTENCIONES PERMITIDAS: Las únicas intenciones válidas son \"nuevo\", \"actualizar\", \"eliminar\", \"consultar\", \"registrar_carta\", \"error_regla\" o \"aclaracion\".\nREGISTRAR CARTA: Si el usuario dicta los platos del turno, la intención es \"registrar_carta\". Extrae el turno (desayuno/almuerzo/cena), plato, tipo (sopa/segundo/bebida) y si pertenece al menú estándar (true o false). Asígnales la FECHA ACTUAL.\nVALIDACIÓN DE PEDIDOS (NUEVOS): Cuando un cliente haga un pedido, CRUZA lo que pide con la \"CARTA REGISTRADA\" de hoy. Escribe el nombre del plato exactamente como está en la carta. Importante: Si pide un plato que NO ESTÁ en la carta de hoy, clasifica la intención como \"error_regla\" y explícalo en el mensaje de error.\nPEDIDOS NUEVOS (ESTADO INICIAL): Los campos \"pago_completo\", \"se_entrego_pedido\" y \"retorno_platos\" deben ser estrictamente booleanos false. Asigna la FECHA ACTUAL.\nRESERVAS: Si el mesero indica explícitamente que el pedido es \"reservado\", \"una reserva\", o \"para guardar\", marca el campo \"es_reserva\" como true. Si no menciona nada, ponlo en false.\nACTUALIZACIONES DE ESTADO (MANDATO DE HERENCIA): > Cuando la intención sea \"actualizar\", tu tarea CRÍTICA es leer cómo están los estados en el \"HISTORIAL DE PEDIDOS ACTUALES\" para esa Fila y copiarlos idénticos en tu respuesta.\n- Si el historial dice pago_completo: true, tu respuesta DEBE ser \"nuevo_pago_completo\": true.\n- Si el historial dice retorno_platos: true, tu respuesta DEBE ser \"nuevo_retorno_platos\": true.\n- SOLO cambia de false a true la variables que el mesero acaba de confirmar en el audio.\n- REGLA DE ORO: NUNCA reviertas un estado de true a false.\n\nBLOQUEO DE SEGURIDAD: Si un pedido YA TIENE \"se_entrego_pedido\" en true o \"retorno_platos\" en true, NO ACTUALICES su comida. Solo puedes modificar \"pago_completo\", \"se_entrego_pedido\" o \"retorno_platos\".\nELIMINACIÓN: SOLO se permite si la fecha del pedido es de HOY, \"se_entrego_pedido\" es false, y \"retorno_platos\" es FALSE. Si intenta eliminar y rompe alguna de estas reglas, usa la intención \"error_regla\".\n\nMANEJO DE AMBIGÜEDAD Y MEMORIA:\n\nACLARACIONES: Si falta información vital para completar una orden, usa la intención \"aclaracion\". DEBES llenar el campo \"guion_aclaracion\" con tu pregunta natural, y MUY IMPORTANTE, llenar el campo \"borrador_contexto\" con un resumen detallado de lo que entendiste hasta ahora (ej. \"Quiere pedir 1 lomo saltado, falta saber si es menu o segundo y el nombre del cliente\").\nRESOLUCIÓN DE MEMORIA: Si el ESTADO DE CONVERSACIÓN indica que hay un hilo activo, une el audio actual con el \"borrador_contexto\" anterior para completar la acción original (ej. crear finalmente el pedido).\n\nMEMORIA DE CLIENTES: Si el audio pide comida para un cliente que ESTÁ en la LISTA DE CLIENTES, debes agregar automáticamente sus \"Preferencias\" al campo \"detalles\" del pedido, combinándolo con lo que el mesero haya dicho.\n\nAPRENDIZAJE: Si el mesero menciona un gusto recurrente (ej. \"anota que a Carlos siempre ponle harto ají\"), extrae esa información y colócala en el arreglo \"clientes_a_guardar\".\n\nLECTURA Y CONSULTAS (Reportes por voz):\nCONSULTAS: Si el mesero pide leer, consultar o dictar pedidos, la intención es \"consultar\". Aplica estos filtros rigurosamente:\n- Filtro 1 (Entregas pendientes): Si pide los que \"faltan entregar/llevar\", considera solo los que \"se_entrego_pedido\" es false.\n- Filtro 2 (Cobros pendientes): Si pide los que \"faltan cobrar/recoger\", considera los que \"pago_completo\" es false O \"retorno_platos\" es false.\n- Filtro 3 (Por cliente): Menciona solo sus pedidos. Si no está, niega la existencia amablemente (ej. \"El pedido mencionado no está anotado\").\n- Filtro 4 (Por fecha): Si menciona palabras como \"hoy\" o \"ayer\", limita tu respuesta a esa fecha (ej. \"El día de hoy no posee pedidos pendientes\"). Si no menciona fecha por defecto a las del dia de \"hoy\".\n- Prioridad Temporal: Si la \"hora_entrega\" está a 10 minutos o menos, ya se pasó, o dice \"inmediata\", PON ESE PEDIDO AL PRINCIPIO de la lectura.\nGuion de Salida: Redacta un texto fluido y natural en \"guion_lectura\" que incluya el tipo de pedido (ej. \"Para entregar tienes: 2 menús de lomo saltado para Carlos...\").\n\nREGLAS FINANCIERAS Y DE PRECIOS ESTRICTAS:\n\nPRECIO DE MENÚ: Si pide un \"menu\" (sopa, segundo y bebida), el \"precio_unitario\" FIJO de ese menú es el valor numérico 10.00.\nPRECIO SUELTO: Si pide únicamente \"segundo\" o \"extra\", busca su precio exacto en la \"CARTA REGISTRADA\" y asígnalo como valor numérico a \"precio_unitario\".\nRECARGOS EN EL MENÚ: Si pide un \"menu\" pero le ADICIONA un segundo o bebida extra, registra el menú base a 10.00 y genera una LÍNEA ADICIONAL separada en el array de pedidos para el elemento extra con su precio individual de la carta.\nCÁLCULO DE SUBTOTAL: Por cada plato/menú, realiza la multiplicación matemática estricta: \"cantidad\" por \"precio_unitario\" y colócalo en \"subtotal\". NO uses símbolos de moneda en los números.\n\nIMPORTANTE FINAL: Devuelve ÚNICAMENTE un objeto JSON estricto respetando el esquema, sin texto adicional ni bloques de código markdown.\n\nEsquema JSON esperado:\n{\n  \"intencion\": \"nuevo\",\n  \"mensaje_error\": \"Solo llénalo si es error_regla. Explica brevemente por qué de forma amigable para el sintetizador de voz.\",\n  \"resumen\": \"Breve resumen amigable de la acción realizada (Ej. Anotando pedido de Mechita). Listo para el sintetizador de voz.\",\n  \"pedidos_nuevos\": [\n  {\n    \"fecha\": \"dd/MM/yyyy HH:mm:ss\",\n    \"cliente\": \"Nombre\",\n    \"pedidos\": [\n    {\n      \"cantidad\": 1,\n      \"tipo_pedido\": \"menu\",\n      \"plato\": \"Nombre del plato\",\n      \"detalles\": \"sin cebolla\",\n      \"precio_unitario\": 10.00,\n      \"subtotal\": 10.00\n    }\n    ],\n    \"hora_entrega\": \"inmediata\",\n    \"pago_completo\": false,\n    \"se_entrego_pedido\": false,\n    \"retorno_platos\": false,\n    \"es_reserva\": false\n  }\n  ],\n  \"actualizaciones\": [\n  {\n    \"row_number\": 2,\n    \"cliente\": \"Nombre\",\n    \"nuevo_plato\": \"Nombre del plato\",\n    \"nuevo_cantidad\": 1,\n    \"nuevo_tipo_pedido\": \"menu\",\n    \"nuevo_detalles\": \"sin cebolla\",\n    \"nuevo_hora_entrega\": \"inmediata\",\n    \"nuevo_pago_completo\": false,\n    \"nuevo_se_entrego_pedido\": false,\n    \"nuevo_retorno_platos\": false\n  }\n  ],\n  \"eliminacion\": {\n    \"row_number\": 3\n  },\n  \"consulta\": {\n    \"guion_lectura\": \"Texto amigable y ordenado listo para el sintetizador de voz\"\n  },\n  \"clientes_a_guardar\": [\n  {\n    \"cliente\": \"Nombre del cliente\",\n    \"preferencias\": \"Gustos recurrentes\"\n  }\n  ],\n  \"nueva_carta\": [\n  {\n    \"fecha\": \"dd/MM/yyyy\",\n    \"turno\": \"almuerzo\",\n    \"plato\": \"caldo blanco\",\n    \"tipo\": \"sopa\",\n    \"incluido_en_menu\": false,\n    \"precio\": 10.00\n  }\n  ],\n  \"aclaracion\": {\n    \"guion_aclaracion\": \"Pregunta amigable al mesero\",\n    \"borrador_contexto\": \"Lo que entendiste hasta ahora\"\n  }\n}",
        "inputType": "binary",
        "binaryPropertyName": "=audio",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        1232,
        272
      ],
      "id": "851dc4a7-4dc4-46a9-b674-7adeb393f5eb",
      "name": "Analyze audio",
      "notesInFlow": false,
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "googlePalmApi": {
          "id": "2HSvSGLyck4gIAX7",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "pedidos_nuevos[0].pedidos",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1664,
        160
      ],
      "id": "dd4d9635-8682-45f9-848d-15f53e4de881",
      "name": "Split Out",
      "notesInFlow": false
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1K9UboAeFwOSsWpWb6syh-BRMz2x5VGbTwPj8m_xOy54/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Pedidos",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "cliente",
              "displayName": "cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "plato",
              "displayName": "plato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cantidad",
              "displayName": "cantidad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo_pedido",
              "displayName": "tipo_pedido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "detalles",
              "displayName": "detalles",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora_entrega",
              "displayName": "hora_entrega",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pago_por_adelantado",
              "displayName": "pago_por_adelantado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2032,
        160
      ],
      "id": "b898df22-b06f-413e-a966-86fe4cf4db0b",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CVt5NlaUYmtUmFhM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2912,
        448
      ],
      "id": "bcfcc519-69e0-4c16-a35d-b2a4271265de",
      "name": "Respond to Webhook",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b110b1a-2af3-46b8-ab0b-edb21b409cc4",
              "name": "fecha",
              "value": "={{ $json.pedidos_nuevos[0].fecha }}",
              "type": "string"
            },
            {
              "id": "af8c0150-edcc-4b7e-adda-e35f4a8b454e",
              "name": "cliente",
              "value": "={{ $json.pedidos_nuevos[0].cliente }}",
              "type": "string"
            },
            {
              "id": "a94383f2-bfbc-420c-bb47-e9222bd8ddeb",
              "name": "cantidad",
              "value": "={{ $json['pedidos_nuevos[0].pedidos'].cantidad }}",
              "type": "number"
            },
            {
              "id": "f92b1fa8-beb9-4f03-9913-4b1843a1d820",
              "name": "tipo_pedido",
              "value": "={{ $json['pedidos_nuevos[0].pedidos'].tipo_pedido }}",
              "type": "string"
            },
            {
              "id": "ba0d115e-d943-43fa-997f-1f41d5f1f5d9",
              "name": "plato",
              "value": "={{ $json['pedidos_nuevos[0].pedidos'].plato }}",
              "type": "string"
            },
            {
              "id": "ea3f240c-0ae2-4230-99f0-8940f4c2f576",
              "name": "detalles",
              "value": "={{ $json['pedidos_nuevos[0].pedidos'].detalles }}",
              "type": "string"
            },
            {
              "id": "cf26da3d-297c-4831-a9c2-d37d0c98885c",
              "name": "hora_entrega",
              "value": "={{ $json.pedidos_nuevos[0].hora_entrega }}",
              "type": "string"
            },
            {
              "id": "8ae07161-53d3-4252-99db-9c24837bfd98",
              "name": "pago_completo",
              "value": "={{ $json.pedidos_nuevos[0].pago_completo }}",
              "type": "boolean"
            },
            {
              "id": "9b69b1ae-098b-44be-8758-fbaa43924ce3",
              "name": "se_entrego_pedido",
              "value": "={{ $json.pedidos_nuevos[0].se_entrego_pedido }}",
              "type": "boolean"
            },
            {
              "id": "b078a4c3-4e70-4587-a465-1440f28d4f54",
              "name": "retorno_platos",
              "value": "={{ $json.pedidos_nuevos[0].retorno_platos }}",
              "type": "string"
            },
            {
              "id": "7362a19e-743f-44bf-9798-24994e79f7d1",
              "name": "es_reserva",
              "value": "={{ $json.pedidos_nuevos[0].es_reserva }}",
              "type": "string"
            },
            {
              "id": "1ab29c40-5e1c-4868-8e51-ebb583422dbd",
              "name": "Precio_Unitario",
              "value": "={{ $json.pedidos_nuevos[0].precio_unitario }}",
              "type": "number"
            },
            {
              "id": "8b2fb3ad-3ac3-48ae-bbd3-593126686ba5",
              "name": "Subtotal",
              "value": "={{ $json.pedidos_nuevos[0].subtotal }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1840,
        160
      ],
      "id": "81e4f125-b28a-4b51-903b-9325b406f2aa",
      "name": "plano_nuevoPedidos"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8880/v1/audio/speech",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"input\": \"{{ $json.guion }}\",  \"voice\": \"em_alex\"} ",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2496,
        448
      ],
      "id": "c0bfee01-7d2e-4583-bdea-a17282dcd9e9",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const pedidosData = $('Obtener pedidos').all();\nconst clientesData = $('Obtener clientes').all();\nconst cartaData = $('Obtener Carta').all();\nconst memoriaData = $('Obtener Memoria').all();\n\nlet textoPedidos = \"Vacio\";\n\nif (pedidosData.length > 0 && pedidosData[0].json.row_number)\n{\n  textoPedidos = pedidosData.map(item => `fila: ${item.json.row_number} |  fecha: ${item.json.fecha} | cliente: ${item.json.cliente} | cantidad: ${item.json.cantidad} | tipo_pedido: ${item.json.tipo_pedido} | Plato: ${item.json.plato } | detalles: ${item.json.detalles} | hora_entrega: ${item.json.hora_entrega} | pago_completo: ${item.json.pago_completo || false} | se_entrego_pedido: ${item.json.se_entrego_pedido || false} | entrego_platos: ${item.json.entrego_platos || false} | es_reserva: ${item.json.es_reserva || false}`).join('\\n');\n}\n\nlet textoClientes = \"No hay clientes registrados aún.\"\nif (clientesData.length > 0 && clientesData[0].json && Object.keys(clientesData[0].json).length > 0)\n{\n  textoClientes = clientesData.map(item => `Cliente: ${item.json.Cliente} | Preferencias: ${item.json.Preferencias}`).join('\\n');\n}\n\nlet textoCarta = \"No hay carta registrada.\";\nif(cartaData.length > 0 && cartaData[0].json && Object.keys(cartaData[0].json).length > 0)\n{\n  textoCarta = cartaData.map(item => `Fecha: ${item.json.Fecha} | Turno: ${item.json.Turno} | Plato: ${item.json.Plato} | Tipo: ${item.json.Tipo} | Incluido en Menú: ${item.json.Incluido_en_Menu} | Precio Unitario: S/.${item.json.Precio || 0}`).join('\\n');\n}\n\nlet textoMemoria = \"No hay ninguna conversación a medias. Trata este audio como una instrucción completamente nueva.\";\nif (memoriaData.length > 0 && memoriaData[0].json.Pregunta_IA)\n{\n  textoMemoria = `ATENCION - HILO DE CONVERSACION ACTIVO: La ultima vez que hablaste con el mesero, el pedido quedo incompleto. Tú (la IA) le preguntaste esto: \"${memoriaData[0].json.Pregunta_IA}\". El contexto de lo que el mesero intentaba pedir era esto: \"${memoriaData[0].json.Borrador_Contexto}\". EL AUDIO ACTUAL ES LA RESPUESTA DEL MESERO A TU PREGUNTA. Usalo para completar la accion original.`;\n}\n\n\nconst audioBinario = $(\"Webhook_voz\").first().binary;\n\nreturn [{\n  json: {\n    historial_pedidos: textoPedidos,\n    lista_clientes: textoClientes,\n    carta_del_dia: textoCarta,\n    memoria_activa: textoMemoria\n  },\n  binary: audioBinario\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        80
      ],
      "id": "9a20c553-3481-417d-bf91-862c87227372",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intencion }}",
                    "rightValue": "nuevo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e5a13596-e3e5-46e4-932c-3dc79265bcd5"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2bcd416f-5093-4ecc-9202-c37af20058ca",
                    "leftValue": "={{ $json.intencion }}",
                    "rightValue": "actualizar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "71b6f3ff-00d3-4f01-9226-14641bc1c8fa",
                    "leftValue": "={{ $json.intencion }}",
                    "rightValue": "eliminar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cb358a91-4569-436e-bd21-78c2406da390",
                    "leftValue": "={{ $json.intencion }}",
                    "rightValue": "registrar_carta",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6b11f4a7-d82d-4217-9f9c-88b883788730",
                    "leftValue": "={{ $json.intencion }}",
                    "rightValue": "error_regla",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8ed121fe-60f5-48ed-8f43-0ef68073444c",
                    "leftValue": "={{ $json.intencion }}",
                    "rightValue": "consultar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "12046a48-bd07-40c5-8149-9a537d0083d1",
                    "leftValue": "={{ $json.intencion }}",
                    "rightValue": "aclaracion",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1488,
        336
      ],
      "id": "b899e5ee-d972-4cfd-8a04-5a5436b285d1",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1K9UboAeFwOSsWpWb6syh-BRMz2x5VGbTwPj8m_xOy54/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Pedidos",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "plato": "={{ $json.nuevo_plato }}",
            "row_number": "={{ $json.row_number }}",
            "cantidad": "={{ $json.nuevo_cantidad }}",
            "tipo_pedido": "={{ $json.nuevo_tipo_pedido }}",
            "hora_entrega": "={{ $json.nuevo_hora_entrega }}",
            "detalles": "={{ $json.nuevo_detalles }}",
            "pago_completo": "={{ $json.nuevo_pago_completo  === \"\" ? false : $json.nuevo_pago_completo}}",
            "se_entrego_pedido": "={{ $json.nuevo_se_entrego_pedido  === \"\" ? false : $json.nuevo_se_entrego_pedido}}",
            "retorno_platos": "={{ $json.nuevo_retorno_platos === \"\" ? false : $json.nuevo_retorno_platos }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cliente",
              "displayName": "cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cantidad",
              "displayName": "cantidad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo_pedido",
              "displayName": "tipo_pedido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "plato",
              "displayName": "plato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "detalles",
              "displayName": "detalles",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora_entrega",
              "displayName": "hora_entrega",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pago_completo",
              "displayName": "pago_completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "se_entrego_pedido",
              "displayName": "se_entrego_pedido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "retorno_platos",
              "displayName": "retorno_platos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1936,
        304
      ],
      "id": "6555b696-a145-497f-bc89-460ba7bd77df",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CVt5NlaUYmtUmFhM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "actualizaciones",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1744,
        304
      ],
      "id": "6c1d3cc4-1122-451f-8929-61b68b6b1849",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1K9UboAeFwOSsWpWb6syh-BRMz2x5VGbTwPj8m_xOy54/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Pedidos",
          "mode": "name"
        },
        "startIndex": "={{ $json.body.fila_a_eliminar }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1760,
        -32
      ],
      "id": "68bdf390-6fac-4a3f-bf74-e8b5a1ccc65c",
      "name": "Delete rows or columns from sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CVt5NlaUYmtUmFhM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "confirmar-eliminacion",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1504,
        -32
      ],
      "id": "46d4c5f4-21b1-46ac-9169-3e00e1f0bfab",
      "name": "Webhook_delete",
      "webhookId": "d8b36248-54e8-44e2-9a9c-6242556baea3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recibir-audio",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        704,
        272
      ],
      "id": "a60a78cb-84ab-4dfd-9108-141ce91961b2",
      "name": "Webhook_voz",
      "webhookId": "507e1847-7db3-468f-a7f8-b2108017a2b9"
    },
    {
      "parameters": {
        "jsCode": "const intencion = $input.first()?.json?.intencion;\nlet audioBase64 = null;\n\n// MAGIA DE N8N: Extraemos el archivo real desde el disco (filesystem) hacia la memoria\ntry {\n  // Verificamos si el archivo se llama 'data'\n  if ($input.first()?.binary?.data) {\n    const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n    audioBase64 = buffer.toString('base64');\n  } \n  // O si el archivo se llama 'audio'\n  else if ($input.first()?.binary?.audio) {\n    const buffer = await this.helpers.getBinaryDataBuffer(0, 'audio');\n    audioBase64 = buffer.toString('base64');\n  }\n} catch (error) {\n  console.error(\"No se pudo leer el archivo binario:\", error);\n}\n\n// Construimos la respuesta\nif (intencion !== \"eliminar\") {\n  return [{\n    json: {\n      \"intencion\": intencion,\n      \"audio_base64\": audioBase64\n    }\n  }];\n} else {\n  return [{\n    json: {\n      \"estado\": \"requiere_confirmacion\",\n      \"accion\": \"eliminar\",\n      \"datos\": {\n        \"fila\": $('json_gemini').first().json.eliminacion.row_number,\n        \"mensaje_popup\": $('Code in JavaScript').first().json.guion\n      },\n      \"audio_base64\": audioBase64\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2704,
        448
      ],
      "id": "58dd0e94-0956-4076-aff0-0819c81e7917",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    intencion: \"respuesta\",\n    guion: \"Pedido eliminado correctamente de la lista\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        -32
      ],
      "id": "10fdabbd-f3a8-4e40-b474-e24b03317880",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1K9UboAeFwOSsWpWb6syh-BRMz2x5VGbTwPj8m_xOy54/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Pedidos",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "pago_completo",
              "lookupValue": "false"
            },
            {
              "lookupColumn": "retorno_platos",
              "lookupValue": "false"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        960,
        -16
      ],
      "id": "6a2971ad-77fe-49ea-a3ce-947c880b633e",
      "name": "Obtener pedidos",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CVt5NlaUYmtUmFhM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1K9UboAeFwOSsWpWb6syh-BRMz2x5VGbTwPj8m_xOy54/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Clientes",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        960,
        176
      ],
      "id": "ac99b929-bdab-48e6-9a6c-7fa832ae508d",
      "name": "Obtener clientes",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CVt5NlaUYmtUmFhM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "53f3e174-f05c-4bf3-a963-b64f43e3af51",
              "leftValue": "={{ $json.clientes_a_guardar[0].cliente }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1472,
        912
      ],
      "id": "153664b6-6ba6-4e86-855f-4a905e4203d0",
      "name": "If"
    },
    {
      "parameters": {
        "fieldToSplitOut": "clientes_a_guardar",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1776,
        1072
      ],
      "id": "b9f365ee-4a66-4e22-87d3-f3d6eda507a4",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1K9UboAeFwOSsWpWb6syh-BRMz2x5VGbTwPj8m_xOy54/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Clientes",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Cliente": "={{ $json.cliente }}",
            "Preferencias": "={{ $json.preferencias }}"
          },
          "matchingColumns": [
            "Cliente"
          ],
          "schema": [
            {
              "id": "Cliente",
              "displayName": "Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Preferencias",
              "displayName": "Preferencias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2064,
        1072
      ],
      "id": "41d6f16d-d0b4-41d4-b10d-6000df0a4878",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CVt5NlaUYmtUmFhM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1K9UboAeFwOSsWpWb6syh-BRMz2x5VGbTwPj8m_xOy54/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Carta",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Fecha",
              "lookupValue": "={{ $now.setZone('America/Lima').toFormat('dd/MM/yyyy') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        960,
        368
      ],
      "id": "9dbc6938-3692-4eef-9c09-6eda2d7ec6d2",
      "name": "Obtener Carta",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CVt5NlaUYmtUmFhM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "nueva_carta",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1744,
        480
      ],
      "id": "7eef3a8c-c92e-4376-8244-1f93950020b0",
      "name": "Split Out3"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1K9UboAeFwOSsWpWb6syh-BRMz2x5VGbTwPj8m_xOy54/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Carta",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ $json.fecha }}",
            "Turno": "={{ $json.turno }}",
            "Plato": "={{ $json.plato }}",
            "Tipo": "={{ $json.tipo }}",
            "Incluido_en_menu": "={{ $json.incluido_en_menu }}",
            "Precio": "={{ $json.Precio }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Turno",
              "displayName": "Turno",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Plato",
              "displayName": "Plato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tipo",
              "displayName": "Tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Incluido_en_menu",
              "displayName": "Incluido_en_menu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Precio",
              "displayName": "Precio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1936,
        480
      ],
      "id": "dc441842-4570-4d5d-8a39-38c3cd6534c7",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CVt5NlaUYmtUmFhM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "= {{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        464
      ],
      "id": "e2411a39-dc7d-43aa-9e56-ed6716fa9067",
      "name": "json_gemini"
    },
    {
      "parameters": {
        "jsCode": "let textoParaHablar = $('json_gemini').first().json.resumen\n// Devolvemos el texto listo para Kokoro\nreturn {\n  json: {\n    guion: textoParaHablar\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        384
      ],
      "id": "ea58cf3a-a3e4-409e-b6f4-4e3921d588dc",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "jsCode": "let textoParaHablar = $('json_gemini').first().json.mensaje_error;\n// Devolvemos el texto listo para Kokoro\nreturn {\n  json: {\n    guion: textoParaHablar\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        640
      ],
      "id": "436685ac-556b-4d5f-9668-1750ff489b5c",
      "name": "Code in JavaScript8"
    },
    {
      "parameters": {
        "jsCode": "let textoParaHablar = $('json_gemini').first().json.consulta.guion_lectura;\n// Devolvemos el texto listo para Kokoro\nreturn {\n  json: {\n    guion: textoParaHablar\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        768
      ],
      "id": "2803c546-b9e8-4d26-9de9-42c2b6211fa2",
      "name": "Code in JavaScript9"
    },
    {
      "parameters": {
        "jsCode": "let textoParaHablar = $input.first().json.aclaracion.guion_aclaracion;\n// Devolvemos el texto listo para Kokoro\nreturn {\n  json: {\n    guion: textoParaHablar\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        912
      ],
      "id": "a697a464-bd3f-4cf1-9984-28613d1ce95b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1K9UboAeFwOSsWpWb6syh-BRMz2x5VGbTwPj8m_xOy54/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Memoria_Chat",
          "mode": "name"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange"
            }
          },
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        960,
        576
      ],
      "id": "51d721a1-6c71-4ec5-9209-c2161e05c3bd",
      "name": "Obtener Memoria",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CVt5NlaUYmtUmFhM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1K9UboAeFwOSsWpWb6syh-BRMz2x5VGbTwPj8m_xOy54/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Memoria_Chat",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Pregunta_IA": "={{ $json.intencion == 'aclaracion' ? $json.aclaracion.guion_aclaracion : '' }}",
            "row_number": 2,
            "Borrador_Contexto": "={{ $json.intencion  == 'aclaracion' ? $json.aclaracion.borrador_contexto : ''}}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Pregunta_IA",
              "displayName": "Pregunta_IA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Borrador_Contexto",
              "displayName": "Borrador_Contexto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1488,
        704
      ],
      "id": "d59a7e0b-6880-424e-8bd4-115e12aeced5",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CVt5NlaUYmtUmFhM",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Analyze audio": {
      "main": [
        [
          {
            "node": "json_gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "plano_nuevoPedidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "plano_nuevoPedidos": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Analyze audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete rows or columns from sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook_delete": {
      "main": [
        [
          {
            "node": "Delete rows or columns from sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook_voz": {
      "main": [
        [
          {
            "node": "Obtener pedidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener pedidos": {
      "main": [
        [
          {
            "node": "Obtener clientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener clientes": {
      "main": [
        [
          {
            "node": "Obtener Carta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Carta": {
      "main": [
        [
          {
            "node": "Obtener Memoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out3": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "json_gemini": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript8": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript9": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Memoria": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "093e9484-9f65-4f2a-a0cc-f301766df6ff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "34b5bb8aa43b04a2f7b2c2a08ee4bccaaedb04a27c66d5a324ba2a2d89e5f36d"
  },
  "id": "RYppBOSF6Fh1BWzG",
  "tags": [
    {
      "updatedAt": "2026-06-23T17:26:06.486Z",
      "createdAt": "2026-06-23T17:26:06.486Z",
      "id": "NidLukuul9Nx45bT",
      "name": "v1"
    },
    {
      "updatedAt": "2026-06-23T17:26:21.094Z",
      "createdAt": "2026-06-23T17:26:21.094Z",
      "id": "jqxS2oLX5OF8oxC8",
      "name": "pedidos"
    },
    {
      "updatedAt": "2026-06-23T17:26:34.521Z",
      "createdAt": "2026-06-23T17:26:34.521Z",
      "id": "uhrVjKUe1IzaJFi3",
      "name": "restaurant"
    }
  ]
}